; This file is for unifying the coding style for different editors and IDEs.
; editorconfig.org

; top-most EditorConfig file
root = true

; Unix-style newlines
[*]
end_of_line = LF
indent_style = tab
indent_size = 4
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.json]
indent_style=space
indent_size=2

; Trailing whitespace is meaningful in Markdown files
[*.md]
trim_trailing_whitespace = false
