<!DOCTYPE html>

<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <title>#calexit</title>

        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:100,200,400,500,700,800">
        <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">

        <!--
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../js/universal/parallax.min.js"></script>
    <script src="../js/universal/modernizr.custom.min.js"></script>
    -->

        <link rel="stylesheet" href="../css/stash.css">
        <link rel="stylesheet" href="../css/inject.css">
        <link rel="stylesheet" href="../css/glass.css">
        <link rel="stylesheet" href="../css/menu.css">

    </head>

    <body ng-app="main">
      <span id="wts1343830">&nbsp;</span>

        <div class="bodyWrapper">
            <div class="background_overlay">
                <inject></inject>
            </div>
        </div>
    </body>

    <!-- ANGULAR IMPORTS -->
    <!--<script src="/bower_components/angular/angular.min.js" type="text/javascript"></script>-->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js" type="text/javascript"></script>
    <script src="../js/main.js" type="text/javascript"></script>
    <script src="../js/directives/alloyDirective.js"></script>
    <script src="../js/controllers/alloyController.js"></script>
    <script src="../js/services/alloyService.js"></script>
    <script src="../js/scripts.js"></script>
    <script src="../js/scripts.js"></script>

    <!-- ANGULAR IMPORTS -->

    <!-- 010101010101010 -->
    <!-- 010101010101010 -->
    <!-- 010101010101010 -->
    <!-- 010101010101010 -->
    <!-- Begin Web-Stat code v 6.2 -->
    <script type="text/javascript">
        var wtsh = {};
        wtsh['invisible'] = '#';
        wtsh['text_counter'] = '#';
        wtsh['page_name'] = '#';
        wtsh['page_group'] = '#';
        wtsh['conversion_number'] = '#';
        wtsh['custom'] = '#';
        var wts = document.createElement('script');
        wts.type = 'text/javascript';
        wts.async = true;
        wts.src = ('https:' == document.location.protocol
            ? 'https://server2'
            : 'http://lb') + '.web-stat.com/1/1343830/log6_2.js';
        document.getElementById('wts1343830').appendChild(wts);
    </script>
    <noscript>
        <a href="http://www.web-stat.com">
            <img src="//server2.web-stat.com/6/1/1343830.gif" style="border:0px;" alt=""></a>
    </noscript>
    <!-- End Web-Stat code v 6.2 -->
</html>
