<link rel="stylesheet" href="../css/inject.css">

<div class="bodyOverlay">

    <div class="container">

      <div class="col-md-12">
          <h1>Calexit</h1>
      </div>

      
        <!-- <div class="col-xl-2  col-lg-12 col-md-12" class="navbar navbar-inverse">
            <div data-spy="affix">

                <div>

                    <h3 class="robotoh3">View this project on
                    </h3>
                    <h1>
                        <a href="https://github.com/LoseTheQuit/EATurner" target="_blank">GitHub</a>
                    </h1>
                </div>
                <input placeholder="search by title" type="text" class="form-control" ng-model-options='{ debounce: 250 }' class="inputBox" ng-model="titleSearchQuery" ng-change="turnerTitleSearch()">
            </div>
        </div> -->

        <!-- <div class="col-xl-10 col-lg-12 col-md-12">
            <div class="card-deck-wrapper">
                <div class="card-deck">
                    <div class="card-columns">

                        <div ng-repeat="event in movieData.data | orderBy:order">

                            <div class="card cardStyle">

                                <div class="cardHeaderSpacing">
                                    <h1 class="robotoh1">sdasd asds event.TitleName sdasd asds
                                    </h1>
                                    <p>Release Year: sdasd asds event.ReleaseYear sdasd asds
                                    </p>

                                </div>
                                <div class="cardOverlay3 cardStyle theExceptionalP" ng-click="showAwards = ! showAwards">
                                    <h2 class="robotoh2">Awards</h2>
                                    <div class="card cardOverRide" ng-repeat="award in event.Awards | orderBy:order" class="card-block" ng-show="showAwards" ng-if="award.AwardWon !== false">
                                        <p>Year: sdasd asds award.AwardYearsdasd asds
                                        </p>
                                        <p>Participants: sdasd asds award.Participants[0]sdasd asds
                                        </p>
                                        <p>Award: sdasd asds award.Awardsdasd asds
                                        </p>

                                    </div>

                                </div>

                                <div class="cardOverlay4 cardStyle theOtherExceptionalP" ng-click="showGenres = ! showGenres">
                                    <h2 class="robotoh2">Genres</h2>
                                    <div ng-show="showGenres">
                                        <div class="card cardOverRide" ng-repeat="genre in event.Genres | orderBy:order">
                                            <p>sdasd asds genresdasd asds
                                            </p>
                                        </div>
                                    </div>
                                </div>



                                <div class="cardOverlay5 cardStyle theExceptionalP" ng-click="showParticipants = ! showParticipants">
                                    <h2 class="robotoh2">Participants</h2>
                                    <div ng-show="showParticipants">
                                        <div class="card cardOverRide" ng-repeat="actor in event.Participants | orderBy:order">
                                            <p class="robotoHeader">Participant #sdasd asds $indexsdasd asds :</p>

                                            <p>Role: sdasd asds actor.RoleType sdasd asds
                                            </p>
                                            <p>Type sdasd asds actor.ParticipantType sdasd asds
                                            </p>

                                            <p>On Screen: sdasd asds actor.IsOnScreen sdasd asds
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="cardOverlay6 cardStyle theOtherExceptionalP" ng-click="showDetails = ! showDetails">
                                    <h2 class="robotoh2">Storylines</h2>
                                    <div ng-show="showDetails">
                                        <div class="card cardOverRide" ng-repeat="story in event.Storylines | orderBy:order">
                                            <p class="robotoHeader">Description #sdasd asds $indexsdasd asds :</p>
                                            <p>sdasd asds story.Description sdasd asds
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="cardOverlay7 cardStyle theExceptionalP" ng-click="showOtherNames = ! showOtherNames">
                                    <h1 class="robotoh2">Alternate Titles</h1>
                                    <div ng-show="showOtherNames">
                                        <div class="card cardOverRide" ng-repeat="oNames in event.OtherNames | orderBy:order">
                                            <p class="robotoHeader">Alternate Title #sdasd asds $indexsdasd asds :</p>
                                            <p>Title: sdasd asds oNames.TitleNamesdasd asds
                                            </p>
                                            <p>Language: sdasd asds oNames.TitleNameLanguagesdasd asds
                                            </p>
                                        </div>
                                    </div>
                                </div>



                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div> -->

    </div>
</div>
